@model List<Aluno>

@if (ViewData["MsgErro"] != null)
{
    <div class="alert-danger">
        @ViewData["MsgErro"]
    </div>
}

@if (ViewData["MsgAcept"] != null)
{
   
    <div class="alert-warning">
        @ViewData["MsgAcept"]
    </div>
}
<body>

    <style>
        body {
            background: url("https://img.freepik.com/vetores-gratis/fluxo-de-vetor-de-design-de-codigo-binario_53876-161365.jpg") no-repeat center center fixed;
            background-size: cover;
        }

        .blur {
            background: url("https://img.freepik.com/vetores-gratis/fluxo-de-vetor-de-design-de-codigo-binario_53876-161365.jpg?") no-repeat center center fixed;
            background-size: cover;
            overflow: hidden;
            filter: blur(13px);
            position: absolute;
            height: 400px;
            top: -50px;
            left: -50px;
            right: -50px;
            bottom: -50px;
        }

        .widget {
            border-top: 2px solid rgba(255, 255, 255, 0.5);
            border-bottom: 2px solid rgba(255, 255, 255, 0.5);
            height: 490px;
            width: 100%;
            overflow: hidden;
        }

        .center {
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        /*  NOT REQUIRED  */

        .text {
            height: 550px;
            text-align: center;
        }

            .text h1 {
                text-align: center;
                text-shadow: 1px 1px #fff(0, 0, 0, 0.1);
                color: #ffffff;
                margin-top: 57px;
                font-family: "Lora", serif;
                font-weight: 900;
                font-size: 38px;
            }

            .text p {
                text-align: center;
                color: #ffffff;
                text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
                margin-top: 0px;
                font-family: "Lato", serif;
                font-weight: 400;
                font-size: 22px;
            }

        .login-button {
            padding: 10px 30px;
            width: 100%;
            border-radius: 5px;
            background: hsla(201, 100%, 50%, 0.1);
            border: 1px solid hsl(201, 100%, 50%);
            outline: none;
            font-size: 1.5em;
            color: #fff;
            font-weight: lighter;
            margin-top: 20px;
            cursor: pointer;
        }

            .login-button:hover {
                background-color: hsla(201, 100%, 50%, 0.3);
            }

            .login-button:focus {
                background-color: hsla(201, 100%, 50%, 0.5);
            }

        .input-group input:focus {
            border: 1px solid hsl(201, 100%, 50%);
        }


    </style>

<div class="widget center">

    <div class="blur"></div>

    <div class="text center">
        <h1 class="">Alunos</h1>
       

            <table class="table" style=" background-color: #fff;">

               <thead class="table table-success table-striped-columns">

                    <tr>

                        <th scope="col">Matricula</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Data de Nascimento</th>
                        <th scope="col">Curso</th>
                        <th scope="col">CEP</th>
                        <th scope="col">Endereço</th>
                        <th scope="col"></th>

                    </tr>
               </thead>
                <tbody>
                            @if (Model != null && Model.Any())
                            {
                                foreach (Aluno aluno in Model)
                                {

                                <tr>
                                    <th scope="row">@aluno.Matricula</th>
                                    <td>@aluno.Nome</td>
                                    <td>@aluno.DataNascimento</td>
                                    <td>@aluno.Curso</td>
                                    <td>@aluno.Cep</td>
                                    <td>@aluno.Endereco</td>
                                    <td>
                                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" role="group">
                                            <a type="submit" class="btn btn-outline-success me-2" role="button" style="background-color: #ECB038;" role="button" asp-controller="Aluno" asp-action="BuscarEndereco" asp-route-cep="@aluno.Cep">Pesquisar</a>
                                            <a type="submit" class="btn btn-primary me-2" role="button" style="background-color:deepskyblue;" role="button" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="Editar">Editar</a>
                                            <a type="submit" class="btn btn-danger me-2" role="button" style="background-color:red;" role="button" asp-route-id="@aluno.Id" asp-controller="Aluno" asp-action="ExcluirConfirmacao">Excluir</a>


                                        </div>
                                    </td>


                                </tr>
                                }
                            }

                </tbody>

            </table>
              <a class="login-button" role="button" asp-controller="Aluno" asp-action="Adicionar">Adicionar Novo Aluno</a>
        </div>
    </div>
</body>


